version: '3.1'

services:
  postgres:
    image: postgres:12
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: ****
      POSTGRES_USER: frka

  adminer:
    image: adminer
    container_name: adminer 
    ports:
      - 5555:8080

  nginx:
    image: nginx
    container_name: nginx
    volumes: 
      - /root/fk-cert/:/etc/nginx/ssl/
      - /root/fried-kartoshka/cicd/nginx/fried-kartoshka.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 0.0.0.0:8080:80
      - 0.0.0.0:443:443
    environment:
      - NGINX_PORT=80
  
  api:
    image: api 
    container_name: api