version: '3.1'

services:
  postgres:
    image: postgres:12
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: stp
      POSTGRES_USER: stu

  adminer:
    image: adminer
    container_name: adminer 
    ports:
      - 8080:8080

  nginx:
    image: nginx
    container_name: nginx
    ports:
      - 8080:80
    environment:
      - NGINX_PORT=80