version: '3.1'

services:
  postgres:
    image: postgres:12
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: stp
      POSTGRES_USER: stu

  adminer:
    image: adminer
    container_name: adminer 
    ports:
      - 5555:8080

  nginx:
    image: nginx
    container_name: nginx
    volumes: 
      - /root/fk-cert/:/etc/nginx/ssl/
      - /root/fried-kartoshka/cicd/fried-kartoshka.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 8080:80
    environment:
      - NGINX_PORT=80